body {
    width: 100%;
    margin: auto;
    font-size: 16px;
    font-family: "Literata";
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    
    padding: 0.4em;
}
.nav {
    display: flex;
    justify-content: space-between;
    
}
.navone {
    display: flex;
}
.imggl {
    padding-right: 7.5em;
}
.menu-nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
   
}
.namiin{
    display: block;
    justify-content: flex-end;
}
.innoo {
    display: flex;

}
.clasin {
    display: flex;
    justify-content: flex-end;
}
.innoo p {
    margin-top: 0;
    padding-left: 1px;
    font-size: 12px;
}
ul {
    padding-left: 0px;
}
li {
    
    display: block;
    padding-right: 1.5em;
}
li a {    
    font-weight: 500; 
    color: #000000;
    text-decoration: none;   
}
li a:hover {
    opacity: 70%;
}
.number {
    font-weight: 400; 
    color: #000000;
    text-decoration: none; 
}
.slides {
    display: flex;
    /* position: relative; */
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.slide {
    /* display: flex; */
    flex: 0 0 100%;
    align-items: center;
    position: relative;
    max-width: 100%;
    
}
.slide img {
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.slide.active img {
    opacity: 1;
    transform: translateX(0);
}
.link {
    display: flex;
    align-items: center;

}
.clk {
    padding: 0.2em 0.9em 0.4em;
    background-color: #771725;
    font-size: 20px;
    margin: 0 0.4em 0.8em 0;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}
h1 {
    line-height: 110%;
    margin-top: 0;
    font-weight: 500; 
    font-size: 50px;
}
.textone {
    
    bottom: 50px;       /* остаётся на месте */
    left: 50px;
    color: rgb(0, 0, 0);
    font-size: 28px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    opacity: 0;          /* изначально скрыт */
    transition: opacity 2s cubic-bezier(0.2, 0, 1, 1), text-shadow 0.3s ease;   
}
.slide.active .textone {
    opacity: 1;
    text-shadow: 0 0 20px rgba(255,255,255,0.8);
}
.tebl {
    margin-top: 2em;
}


.carousel {
    width: 100%;
    background: #ffffff;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.cho {
    margin-top: 4em;
    width: 45em;
    max-width: 100%;
}
.choo {
    margin-top: 2em;
    width: 30em;
    max-width: 100%;
}
.buttons {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
}
.click-zone {
    /* position: absolute;
    top: 0;
    margin: 0;
    background: transparent;
    padding: 0;
    
    cursor: pointer;
    z-index: 20;
    opacity: 0; */
    
    border: none;
    /* opacity: 70%; */
    padding: 10px 30px;
    
    

    


}
#left-zone { left: 10px;}
#right-zone { right: 10px;}


.imgcho {
    margin-top: 4em;
    max-width: 100%;
}
.imgcho2 {
    
    margin-top: 4em;
    max-width: 100%;
}
.blockone {
    padding: 8em 0 8em 0em;
}
.textwo p {
    width: 27em;
    opacity: 67%;
    font-family: "Source Sans 3";
    font-style: italic;
    font-size: 20px;
}
.blocktwo {
    padding: 8em 0 0em 0em;
    
}
.imgtextwo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
h2 {
    font-weight: 500; 
    font-size: 40px;
}
h3 {
    margin: 0;
    font-weight: 500; 
    font-size: 40px;
}
.alltebl {
    margin-top: 1.5em;
}
.imgcch {
    padding-left: 13em;
}
.photo {
    max-width: 100%;
    width: 35em;
    margin-top: 1em;
}

.imgtexthee {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.ptwo {
    margin: 0px;
    opacity: 44%;
    font-size: 15px;
}
.blockthee {
    background-color: #F6F6F6;
    padding: 8em 0 8em 0em;
}
.pone {
    margin-bottom: 0px;
    font-size: 20px;
}
.footex {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: end;
}
.footer {
    background-color: #082847;
    padding: 0.4em;
}
.imgtfo {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.imgtfo p {
    color: #ffffff;
    margin-bottom: 3px;
    opacity: 58%;
    font-weight: 200;
    font-size: 15px;
    padding-left: 2.5em;
}
.contack {
    padding-bottom: 0.2em;
    font-weight: 300;
    text-decoration: none;
    color: #F6F6F6;
}
.contack:hover{
    opacity: 70%;
}
.footer2 {
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed ;
    background-color: #082847;
    padding: 0.4em;
}